{% extends "base.html" %}
{% load static %}
{% block bodycontent %}
    {#    {% if messages %}#}
    {#        {% for message in messages %}#}
    {#            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">#}
    {#                <strong class="font-bold text-center">{{ message }}</strong>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    {% endif %}#}
    <div class="container md:mt-56 max-w-md mx-auto xl:max-w-3xl h-full flex bg-white rounded-lg shadow overflow-hidden">
        <div class="relative hidden xl:block xl:w-1/2 h-full">
            <img class="absolute object-contain h-64 w-full my-20"
                 src="{% static "images/logo.png" %}"
                 alt="glice org logo"/>
        </div>
        <div class="w-full xl:w-1/2 p-8">
            <form method="post">
                {% csrf_token %}
                <h1 class=" text-2xl font-bold">Reset your password</h1>
                <div class="mb-3 mt-3">
                    <label class="block text-gray-700 text-sm font-semibold mb-2">
                        Email
                    </label>
                    {{ password_reset_form.email }}
                </div>
                <div class="mb-3 mt-3">
                    <label class="block text-gray-700 text-sm font-semibold mb-2">
                        Password
                    </label>
                    {{ password_reset_form.password1 }}
                </div>
                <div class="mb-3 mt-3">
                    <label class="block text-gray-700 text-sm font-semibold mb-2">
                        Repeat Password
                    </label>
                    {{ password_reset_form.password2 }}
                </div>
                <div class="flex w-full mt-8">
                    <button
                            class="w-full bg-gray-800 hover:bg-grey-900 text-white text-sm py-2 px-4 font-semibold rounded focus:outline-none focus:shadow-outline h-10"
                            type="submit"
                    >
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
    {#    <div class="w-full max-w-lg signup-form mx-auto">#}
    {##}
    {#        <img class="object-fill h-49 w-full mx-auto" src="{% static "images/logo.png" %}">#}
    {#        {% if messages %}#}
    {#            {% for message in messages %}#}
    {#                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">#}
    {#                    <strong class="font-bold text-center">{{ message }}</strong>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#        <form method="post" class="rounded px-8 pt-6 pb-8 mb-4 mx-auto mt-0">#}
    {##}
    {#            {% csrf_token %}#}
    {#            <div class="w-full mb-6 px-3 md:mb-3">#}
    {#                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">#}
    {#                    Email#}
    {#                </label>#}
    {#                <div class="mx-auto">#}
    {#                    {{ password_reset_form.email }}#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="w-full px-3 mb-6 md:mb-3">#}
    {#                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">#}
    {#                    Password#}
    {#                </label>#}
    {#                <div class="mx-auto">#}
    {#                    {{ password_reset_form.password1 }}#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="w-full px-3 mb-6 md:mb-3">#}
    {#                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">#}
    {#                    Confirm Password#}
    {#                </label>#}
    {#                <div class="mx-auto">#}
    {#                    {{ password_reset_form.password2 }}#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="flex justify-center">#}
    {#                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline#}
    {#             focus:outline-none text-white font-bold py-2 px-4 rounded"#}
    {#                        type="submit">#}
    {#                    Reset Password#}
    {#                </button>#}
    {#            </div>#}
    {#            <p class="text-center mt-4">Already have an account? <a class="underline"#}
    {#                                                                    href="{% url 'sign-in' %}">SignIn</a></p>#}
    {#        </form>#}
    {#    </div>#}
{% endblock %}